<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>商品新規登録</h3>
<!-- form_withにオプション追記 -->
　　　　<%= form_with model: @item, url: '/items', method: :post do |f| %>
　　　　 <form>
          <div class="form-inline">
            <label for="item_name">商品名</label>
            <input type="item_name" class="form-control" id="item_name" placeholder="商品名">
          </div>
          
  　　      <div class="form-inline">
             <label for="item_introduction">商品説明</label>
             <input type="item_introduction" class="form-control" id="item_name" placeholder="ここに説明文を記述します">
          </div>
          
          <div class="form-group">
            <%= f.label :ジャンル %>
            <%= f.select :genre, ['ケーキ','プリン','焼き菓子','キャンディ'],{include_blank: '--選択してください--'} %>
          </div>
           
          <div class="form-group">
            <%= f.text_field :price, class:"form-control price", autofocus: true, id:"item_price" %>円
          </div>
          
          <div class="form-group">
            <%= f.label :販売ステータス %>
            <%= f.radio_button :is_active, '1' %>
            <%= f.label :is_active, '販売中', value: 1 %>
            <%= f.radio_button :is_active, '2' %>
            <%= f.label :is_active, '販売準備中', value: 0 %>
          </div>
            
          <div class="form-group">
           <%= f.submit "新規登録" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
  
       