  <div class = "container">
  <div class = "row">
    <div class = "col-8">
      <h3>ログイン</h3>
       <h6>会員の方はこちらからログイン</h6>
       <table class = "table">
        <tr> 
         <td>
         <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <div class="field">
          <%= f.label :メールアドレス %><br />
         </td>
         <td>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",size: "50" %>
         </div>
         </td>
        </tr>
        <tr> 
         <td>
         <div class="field">
          <%= f.label :パスワード %><br />
         </td>
         <td>
          <%= f.password_field :password, autocomplete: "current-password",size: "50"  %>
         </div>
         </td>
        </tr>
        <tr> 
         <td>
         </td>
         <td>
          <div class="actions">
          <%= f.submit "ログイン",class:"btn btn-sm btn-primary w-25" %>
          </div>
          <% end %>
         </td>
        </tr>
       </table>
       
       

  

        
        <%= render "public/shared/links" %>
      </div>
    </div>
  </div>
