<div class = "container">
     <div class = "row">
         <div class = "col-3">
             <h3>商品詳細</h3>
             <%= image_tag @item.get_image(200,200) %>
         </div>
     </div>
 </div>
   
 
 <div class="col-md-8 offset-md-1">
  <table class="table">
    <tbody>
      <tr>
        <td></td>
        <td><%= @item.name %></td>
    　</tr>
    　<tr>
    　  <td></td>
    　  <td><%= @item.introduction %></td>
    　</tr>
    　<tr>
    　  <td></td>
    　  <td>¥<%= @item.add_tax_price.to_s(:delimited) %>(税込)</td>
    　</tr>
    　<tr>
    　  <td>
    　    <%= form_with model: @cart_item do |f| %>
    　    <%= f.hidden_field :item_id, :value => @item.id %>
    　   <%= f.select :amount, *[1..10] , {include_blank: '個数選択'} %>
    　  </td>
    　  <td>
    　   <%= f.submit 'カートに入れる', class:"btn btn-sm btn-success"  %>
    　   
    　   <% end %>
    　  </td>
    　</tr>
    </tbody>
   </table>
  </div>